.tasting__form-title {
  margin: 0 auto;
  width: 539px;
  height: 72px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 81px;
}