.collections__table-title {
  margin: 0;
  width: 367px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #282828;
  text-align: center;
}