@import url(./__container/footer__container.css);
@import url(./__menu/footer__menu.css);
@import url(./__menu-item/footer__menu-item.css);
@import url(./__menu-button/footer__menu-button.css);
@import url(./__menu/_bottom/footer__menu_bottom.css);
@import url(./__links/footer__links.css);
@import url(./__links-item/footer__links-item.css);
@import url(./__img/footer__img.css);

.footer {
  margin: 0 auto;
  width: 1280px;
  height: 220px;
  background-color: #998431;
}