.footer__menu-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 20px auto;
  text-align: center;
}