.collections__table-cell-year {
  margin: 0;
  width: 76px;
  height: 53px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #282828;
  border-right: 1px solid #282828;
}