.collections__table-subtitle {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
  padding-left: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #282828;
}